<!DOCTYPE html>
<h1 style="text-align: center">Connectez vous</h1>


<style>
  .formStyle {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-content: center;
  }
</style>
<div style="text-align: center">
  <div>
    <form class="formStyle" method="post" style="display: inline-block" [formGroup]="testForm">
        <label>Nom d'utilisateur</label>
        <tui-input formControlName="username">
          Votre nom d'utilisateur...
          <input
            tuiTextfield
            type="text"
          />
        </tui-input>
        <label>Mot de passe</label>
        <tui-input-password
          formControlName="password"
          class="tui-space_top-2"
        >
          Tapez le mot de passe...
          <input
            tuiTextfield
            placeholder="Votre mot de passe...!"
          />
        </tui-input-password>

    </form>
  </div>
  <div>
    <button tuiButton (click)="sendCredentials()" style="margin: 10px">Se Connecter</button>
  </div>
  <div>
    <b style="color: red" >{{textError}}</b>
  </div>
</div>
