.right {
  float: right;
  width: 48%;
}

.left {
  float: left;
  width: 48%;
}

.container {
  width: 75%;
  margin: 20px auto;
}

/* Style pour la table */
table {
  width: 100%;
  border-collapse: collapse;

  /* Style pour les en-têtes de colonnes */
  thead th {
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }

  /* Style pour les cellules de données */
  tbody td {
    border: 1px solid #e0e0e0;
    padding: 12px;
  }

  /* Style pour les cellules avec le bouton "Archiver" */
  td button {
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c62828;
    }
  }

  /* Style pour les cellules avec l'état "Archivé" */
  td[archived] {
    color: #999;
    text-decoration: line-through;
  }

  /* Style pour les cellules avec la quantité */
  td.quantity {
    font-weight: bold;
  }

  /* Style pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Couleur de fond pour les lignes impaires */
  }

  /* Style pour les lignes paires (optionnel : pour une alternance plus visible) */
  tbody tr:nth-child(even) {
    background-color: #ffffff; /* Couleur de fond pour les lignes paires */
  }
}

.mycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.update-component {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Animation pour afficher/enlever le composant */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.update-component.ng-enter {
  animation: fade-in 0.3s;
}

.update-component.ng-leave {
  opacity: 1;
  transition: opacity 0.3s;
}