
<!DOCTYPE html>
<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 350px;
  margin: auto;
}

.center {
  text-align: center;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Artifakt Element Hair";
  font-size: 50px;
  color: darkblue;

}
</style>

<div>
  <div class="title">
    <b>Liste d'Articles</b>
  </div>
  <div class="center">
    <button
      tuiButton
      type="button"
      iconRight="tuiIconChevronDown"
      [tuiDropdown]="dropdownContent"
      [tuiDropdownManual]="open"
      (click)="onClick()"
    >
      Choose
    </button>
    <ng-template #dropdownContent>
      <div class="dropdown" style="text-align: center;">
        <button tuiButton (click)="initiateList('Aliments')" style="margin-bottom: 10px; ">Aliments</button>
      </div>
      <div class="dropdown" style="text-align: center;"><button tuiButton (click)="initiateList('Hygiene')" >Hygiene</button></div>
    </ng-template>
  </div>

  <div class="grid-container">
    <li class="tui-list" *ngFor="let item of itemList">
      {{ item.name }}
      <div *ngIf="!item.added">
        <tui-input-count
          formControlName="testValue1"
          [min]="0"
          [max]="200"
        >
          Quantité
          <input
            tuiTextfield
            placeholder="1.. 2.. 3.."
          />
        </tui-input-count>
        <button tuiButton (click)="onClickItem(item.name); item.added=true" >Ajouter</button>
      </div>
      <div *ngIf="item.added">
        <label>{{item.quantity}} {{item.name}} ajouté</label>
        <button tuiButton appearance="secondary-destructive" (click)="onClickItemRemove(item.name); item.added=false; item.quantity=0" >Enlever</button>
      </div>



    </li>
  </div>

</div>

<footer>
  <div style="text-align: center">
    <button tuiButton>Continuer</button>
  </div>
  <tui-table-pagination
    [total]="total"
    [(page)]="page"
    [(size)]="size"
  ></tui-table-pagination>
</footer>



